<div class="header-menu">
  <ul class="top-menu notmobile">
    <li>
      <a [routerLink]="['/computers']">Computers </a>
      <div class="sublist-toggle"></div>0
      <ul class="sublist first-level">
        <li><a [routerLink]="['/desktops']">Desktops </a></li>
        <li><a [routerLink]="['/notebooks']">Notebooks </a></li>
        <li><a [routerLink]="['/software']">Software </a></li>
      </ul>
    </li>
    <li><a [routerLink]="['/electronics']">Electronics </a>
      <div class="sublist-toggle"></div>
      <ul class="sublist first-level">
        <li><a [routerLink]="['/camera-photo']">Camera &amp; photo </a></li>
        <li><a [routerLink]="['/cell-phones']">Cell phones </a></li>
        <li><a [routerLink]="['/others']">Others </a></li>
      </ul>
    </li>
    <li><a [routerLink]="['/apparel']">Apparel </a>
      <div class="sublist-toggle"></div>
      <ul class="sublist first-level">
        <li><a [routerLink]="['/shoes']">Shoes </a></li>
        <li><a [routerLink]="['/clothing']">Clothing </a></li>
        <li><a [routerLink]="['/accessories']">Accessories </a></li>
      </ul>
    </li>
    <li><a [routerLink]="['/digital-downloads']">Digital downloads </a></li>
    <li><a [routerLink]="['/books']">Books </a></li>
    <li><a [routerLink]="['/jewelry']">Jewelry </a></li>
    <li><a [routerLink]="['/gift-cards']">Gift Cards </a></li>
  </ul>
  <div class="menu-toggle">Thể loại</div>
  <ul class="top-menu mobile">
    <li><a [routerLink]="['/computers']">Computers </a>
      <div class="sublist-toggle"></div>\
      <ul class="sublist first-level">
        <li><a [routerLink]="['/desktops']">Desktops </a></li>
        <li><a [routerLink]="['/notebooks']">Notebooks </a></li>
        <li><a [routerLink]="['/software']">Software </a></li>
      </ul>
    </li>
    <li><a [routerLink]="['/electronics']">Electronics </a>
      <div class="sublist-toggle"></div>
      <ul class="sublist first-level">
        <li><a [routerLink]="['/camera-photo']">Camera &amp; photo </a></li>
        <li><a [routerLink]="['/cell-phones']">Cell phones </a></li>
        <li><a [routerLink]="['/others']">Others </a></li>
      </ul>
    </li>
    <li><a [routerLink]="['/apparel']">Apparel </a>
      <div class="sublist-toggle"></div>
      <ul class="sublist first-level">
        <li><a [routerLink]="['/shoes']">Shoes </a></li>
        <li><a [routerLink]="['/clothing']">Clothing </a></li>
        <li><a [routerLink]="['/accessories']">Accessories </a></li>
      </ul>
    </li>
    <li><a [routerLink]="['/digital-downloads']">Digital downloads </a></li>
    <li><a [routerLink]="['/books']">Books </a></li>
    <li><a [routerLink]="['/jewelry']">Jewelry </a></li>
    <li><a [routerLink]="['/gift-cards']">Gift Cards </a></li>
  </ul>
</div>
