<div class="master-wrapper-content">
  <div class="master-column-wrapper">
    <div class="breadcrumb">
      <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li><a href="/" title="Nhà">Nhà</a> <span class="delimiter">/</span></li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><strong class="current-item"
            itemprop="name">Computers</strong> <span itemprop="item" itemscope="" itemtype="http://schema.org/Thing"
            id="/computers"> </span>
          <meta itemprop="position" content="1">
        </li>
      </ul>
    </div>
    <div class="side-2">
      <div class="block block-category-navigation">
        <div class="title"><strong>Thể loại</strong></div>
        <div class="listbox">
          <ul class="list">
            <li class="active last"><a href="/computers">Computers </a>
              <ul class="sublist">
                <li class="inactive"><a href="/desktops">Desktops </a></li>
                <li class="inactive"><a href="/notebooks">Notebooks </a></li>
                <li class="inactive"><a href="/software">Software </a></li>
              </ul>
            </li>
            <li class="inactive"><a href="/electronics">Electronics </a></li>
            <li class="inactive"><a href="/apparel">Apparel </a></li>
            <li class="inactive"><a href="/digital-downloads">Digital downloads </a></li>
            <li class="inactive"><a href="/books">Books </a></li>
            <li class="inactive"><a href="/jewelry">Jewelry </a></li>
            <li class="inactive"><a href="/gift-cards">Gift Cards </a></li>
          </ul>
        </div>
      </div>
      <div class="block block-manufacturer-navigation">
        <div class="title"><strong>Nhà sản xuất của</strong></div>
        <div class="listbox">
          <ul class="list">
            <li class="inactive"><a href="/apple">Apple</a></li>
            <li class="inactive"><a href="/hp">HP</a></li>
          </ul>
          <div class="view-all"><a href="/manufacturer/all">Xem tất cả</a></div>
        </div>
      </div>
      <div class="block block-popular-tags">
        <div class="title"><strong>Thẻ phổ biến</strong></div>
        <div class="listbox">
          <div class="tags">
            <ul>
              <li><a href="/apparel-2" style="font-size:100%">apparel</a></li>
              <li><a href="/awesome" style="font-size:150%">awesome</a></li>
              <li><a href="/book" style="font-size:85%">book</a></li>
              <li><a href="/camera" style="font-size:85%">camera</a></li>
              <li><a href="/cell" style="font-size:85%">cell</a></li>
              <li><a href="/compact" style="font-size:90%">compact</a></li>
              <li><a href="/computer" style="font-size:120%">computer</a></li>
              <li><a href="/cool" style="font-size:150%">cool</a></li>
              <li><a href="/digital" style="font-size:85%">digital</a></li>
              <li><a href="/game" style="font-size:85%">game</a></li>
              <li><a href="/jeans" style="font-size:85%">jeans</a></li>
              <li><a href="/jewelry-2" style="font-size:85%">jewelry</a></li>
              <li><a href="/nice" style="font-size:90%">nice</a></li>
              <li><a href="/shirt" style="font-size:85%">shirt</a></li>
              <li><a href="/shoes-2" style="font-size:85%">shoes</a></li>
            </ul>
          </div>
          <div class="view-all"><a href="/producttag/all">Xem tất cả</a></div>
        </div>
      </div>
    </div>
    <div class="center-2">
      <div class="page category-page">
        <div class="page-title">
          <h1>Computers</h1>
        </div>
        <div class="page-body">
          <div class="category-grid sub-category-grid">
            <div class="item-grid">
              <div class="item-box">
                <div class="sub-category-item">
                  <h2 class="title"><a href="/desktops" title="Hiển thị sản phẩm trong danh mục Desktops"> Desktops </a>
                  </h2>
                  <div class="picture"><a href="/desktops" title="Hiển thị sản phẩm trong danh mục Desktops"> <img
                        alt="Hình ảnh cho danh mục Desktops"
                        src="https://localhost:44369/images/thumbs/0000002_desktops_450.jpg"
                        title="Hiển thị sản phẩm trong danh mục Desktops"> </a></div>
                </div>
              </div>
              <div class="item-box">
                <div class="sub-category-item">
                  <h2 class="title"><a href="/notebooks" title="Hiển thị sản phẩm trong danh mục Notebooks"> Notebooks
                    </a></h2>
                  <div class="picture"><a href="/notebooks" title="Hiển thị sản phẩm trong danh mục Notebooks"> <img
                        alt="Hình ảnh cho danh mục Notebooks"
                        src="https://localhost:44369/images/thumbs/0000003_notebooks_450.jpg"
                        title="Hiển thị sản phẩm trong danh mục Notebooks"> </a></div>
                </div>
              </div>
              <div class="item-box">
                <div class="sub-category-item">
                  <h2 class="title"><a href="/software" title="Hiển thị sản phẩm trong danh mục Software"> Software </a>
                  </h2>
                  <div class="picture"><a href="/software" title="Hiển thị sản phẩm trong danh mục Software"> <img
                        alt="Hình ảnh cho danh mục Software"
                        src="https://localhost:44369/images/thumbs/0000004_software_450.jpg"
                        title="Hiển thị sản phẩm trong danh mục Software"> </a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="products-container">
            <div class="ajax-products-busy"></div>
            <div class="products-wrapper"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
