<div class="master-wrapper-content">
  <div class="master-column-wrapper">
    <div class="breadcrumb">
      <ul itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <li><span> <a [routerLink]="['/']"> <span>Nhà</span> </a> </span> <span class="delimiter">/</span></li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><a [routerLink]="['/digital-downloads']"
            itemprop="item"> <span itemprop="name">Digital downloads</span> </a> <span class="delimiter">/</span>
          <meta itemprop="position" content="1">
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"><strong class="current-item"
            itemprop="name">If You Wait (donation)</strong> <span itemprop="item" itemscope=""
            itemtype="http://schema.org/Thing" id="/if-you-wait-donation"> </span>
          <meta itemprop="position" content="2">
        </li>
      </ul>
    </div>
    <div class="center-1">
      <div class="page product-details-page">
        <div class="page-body">
          <form method="post" id="product-details-form" novalidate="novalidate">
            <div itemscope="" itemtype="http://schema.org/Product">
              <meta itemprop="name" content="If You Wait (donation)">
              <meta itemprop="sku" content="IF_YOU_WT">
              <meta itemprop="gtin">
              <meta itemprop="mpn">
              <meta itemprop="description"
                content="If You Wait is the debut studio album by English indie pop band London Grammar">
              <meta itemprop="image"
                content="https://localhost:44369/images/thumbs/0000066_if-you-wait-donation_550.jpeg">
              <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="ratingValue" content="5.0">
                <meta itemprop="reviewCount" content="1">
              </div>
              <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                <meta itemprop="url" content="https://localhost:44369/if-you-wait-donation">
                <meta itemprop="price" content="0.00">
                <meta itemprop="priceCurrency">
                <meta itemprop="priceValidUntil">
                <meta itemprop="availability" content="http://schema.org/InStock">
              </div>
              <div itemprop="review" itemscope="" itemtype="http://schema.org/Review">
                <div itemprop="author" itemtype="https://schema.org/Person" itemscope="">
                  <meta itemprop="name" content="ALL">
                </div>
                <meta itemprop="url" content="/productreviews/35">
              </div>
            </div>
            <div data-productid="35">
              <div class="product-essential">
                <div class="gallery">
                  <div class="picture-gallery">
                    <div class="picture"><img alt="Ảnh của If You Wait (donation)"
                        src="https://localhost:44369/images/thumbs/0000066_if-you-wait-donation_550.jpeg"
                        title="Ảnh của If You Wait (donation)" id="main-product-img-35"></div>
                  </div>
                </div>
                <div class="overview">
                  <div class="product-name">
                    <h1>If You Wait (donation)</h1>
                  </div>
                  <div class="short-description">If You Wait is the debut studio album by English indie pop band London
                    Grammar</div>
                  <div class="product-reviews-overview">
                    <div class="product-review-box">
                      <div class="rating">
                        <div style="width:100%"></div>
                      </div>
                    </div>
                    <div class="product-review-links"><a [routerLink]="['/productreviews/35']">1 đánh giá (s)</a> <span
                        class="separator">|</span> <a [routerLink]="['/productreviews/35']">Thêm đánh giá của bạn</a></div>
                  </div>
                  <div class="additional-details">
                    <div class="sku"><span class="label">SKU:</span> <span class="value" id="sku-35">IF_YOU_WT</span>
                    </div>
                  </div>
                  <div class="download-sample"><a class="button-2 download-sample-button" [routerLink]="['/download/sample/35']">Tải
                      xuống mẫu</a></div>
                  <div class="add-to-cart">
                    <div class="customer-entered-price">
                      <div class="price-input"><label class="enter-price-label"
                          for="addtocart_35_CustomerEnteredPrice">Vui lòng nhập giá của bạn:</label> <input value="1"
                          class="enter-price-input" type="text" data-val="true"
                          data-val-number="The field Vui lòng nhập giá của bạn must be a number."
                          data-val-required="The Vui lòng nhập giá của bạn field is required."
                          id="addtocart_35_CustomerEnteredPrice" name="addtocart_35.CustomerEnteredPrice"></div>
                      <div class="price-range">Giá phải từ 1 ₫ đến 100 ₫</div>
                    </div>
                    <div class="add-to-cart-panel"><label class="qty-label" for="addtocart_35_EnteredQuantity">Số
                        lượng:</label> <input id="product_enteredQuantity_35" class="qty-input" type="text"
                        aria-label="Nhập số lượng" data-val="true" data-val-required="The Số lượng field is required."
                        name="addtocart_35.EnteredQuantity" value="1"> <button type="button" id="add-to-cart-button-35"
                        class="button-1 add-to-cart-button" data-productid="35">Thêm
                        vào giỏ hàng</button></div>
                  </div>
                  <div class="overview-buttons">
                    <div class="add-to-wishlist"><button type="button" id="add-to-wishlist-button-35"
                        class="button-2 add-to-wishlist-button" data-productid="35">Thêm
                        vào danh sách yêu thích</button></div>
                    <div class="compare-products"><button type="button" class="button-2 add-to-compare-list-button">Thêm
                        vào danh sách so sánh</button></div>
                    <div class="email-a-friend"><button type="button" class="button-2 email-a-friend-button">Gửi email cho một người bạn</button>
                    </div>
                  </div>
                  <div class="product-share-button">
                    <div class="sharethis-inline-share-buttons st-center  st-inline-share-buttons st-animated"
                      id="st-1">
                      <div class="st-btn st-first                        st-remove-label" data-network="twitter"
                        style="display: inline-block;">
                        <img alt="twitter sharing button" src="https://platform-cdn.sharethis.com/img/twitter.svg">

                      </div>
                      <div class="st-btn                        st-remove-label" data-network="print"
                        style="display: inline-block;">
                        <img alt="print sharing button" src="https://platform-cdn.sharethis.com/img/print.svg">

                      </div>
                      <div class="st-btn                        st-remove-label" data-network="facebook"
                        style="display: inline-block;">
                        <img alt="facebook sharing button" src="https://platform-cdn.sharethis.com/img/facebook.svg">

                      </div>
                      <div class="st-btn                        st-remove-label" data-network="email"
                        style="display: inline-block;">
                        <img alt="email sharing button" src="https://platform-cdn.sharethis.com/img/email.svg">

                      </div>
                      <div class="st-btn                        st-remove-label" data-network="messenger"
                        style="display: inline-block;">
                        <img alt="messenger sharing button" src="https://platform-cdn.sharethis.com/img/messenger.svg">

                      </div>
                      <div class="st-btn st-last                        st-remove-label" data-network="qzone"
                        style="display: none;">
                        <img alt="qzone sharing button" src="https://platform-cdn.sharethis.com/img/qzone.svg">

                      </div>
                    </div>
                    <script async="" src="https://buttons-config.sharethis.com/js/64428a0865e28d00193ae8a9.js"></script>
                    <script
                      src="https://platform-api.sharethis.com/js/sharethis.js#property=64428a0865e28d00193ae8a9&amp;product=inline-share-buttons&amp;source=nopcommerce"
                      async=""></script>
                  </div>
                </div>
                <div class="full-description">
                  <p>Original Release Date: September 6, 2013</p>
                  <p>Genre - Electronica, dream pop downtempo, pop</p>
                  <p>Label - Metal &amp; Dust/Ministry of Sound</p>
                  <p>Producer - Tim Bran, Roy Kerr London, Grammar</p>
                  <p>Length - 43:22</p>
                </div>
              </div>
              <div class="product-collateral">
                <div class="product-tags-box">
                  <div class="title"><strong>Thẻ sản phẩm</strong></div>
                  <div class="product-tags-list">
                    <ul>
                      <li class="tag"><a [routerLink]="['/awesome']" class="producttag"> awesome </a> <span>(17)</span></li>
                      <li class="separator">,</li>
                      <li class="tag"><a [routerLink]="['/digital']" class="producttag"> digital </a> <span>(3)</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="also-purchased-products-grid product-grid">
                <div class="title"><strong>Khách hàng mua sản phẩm này cũng đã mua</strong></div>
                <div class="item-grid">
                  <div class="item-box">
                    <div class="product-item" data-productid="34">
                      <div class="picture"><a [routerLink]="['/night-visions']" title="Hiển thị chi tiết cho Night Visions"> <img
                            alt="Ảnh của Night Visions"
                            src="https://localhost:44369/images/thumbs/0000065_night-visions_415.jpeg"
                            title="Hiển thị chi tiết cho Night Visions"> </a></div>
                      <div class="details">
                        <h2 class="product-title"><a [routerLink]="['/night-visions']">Night Visions</a></h2>
                        <div class="product-rating-box" title="0 bài đánh giá">
                          <div class="rating">
                            <div style="width:0%"></div>
                          </div>
                        </div>
                        <div class="description" data-short-description="none">Night Visions is the debut studio album
                          by American rock band Imagine Dragons.</div>
                        <div class="add-info">
                          <div class="prices"><span class="price actual-price">3 ₫</span></div>
                          <div class="buttons"><button type="button" class="button-2 product-box-add-to-cart-button">Thêm
                              vào giỏ hàng</button> <button type="button" class="button-2 add-to-compare-list-button"
                              title="Thêm vào danh sách so sánh">Thêm
                              vào danh sách so sánh</button> <button type="button"
                              class="button-2 add-to-wishlist-button" title="Thêm vào danh sách yêu thích">Thêm
                              vào danh sách yêu thích</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-box">
                    <div class="product-item" data-productid="36">
                      <div class="picture"><a [routerLink]="['/science-faith']" title="Hiển thị chi tiết cho Science &amp; Faith">
                          <img alt="Ảnh của Science &amp; Faith"
                            src="https://localhost:44369/images/thumbs/0000067_science-faith_415.jpeg"
                            title="Hiển thị chi tiết cho Science &amp; Faith"> </a></div>
                      <div class="details">
                        <h2 class="product-title"><a [routerLink]="['/science-faith']">Science &amp; Faith</a></h2>
                        <div class="product-rating-box" title="1 bài đánh giá">
                          <div class="rating">
                            <div style="width:80%"></div>
                          </div>
                        </div>
                        <div class="description" data-short-description="none">Science &amp; Faith is the second studio
                          album by Irish pop rock band The Script.</div>
                        <div class="add-info">
                          <div class="prices"><span class="price actual-price"></span></div>
                          <div class="buttons"><button type="button" class="button-2 product-box-add-to-cart-button">Thêm
                              vào giỏ hàng</button> <button type="button" class="button-2 add-to-compare-list-button"
                              title="Thêm vào danh sách so sánh">Thêm
                              vào danh sách so sánh</button> <button type="button"
                              class="button-2 add-to-wishlist-button" title="Thêm vào danh sách yêu thích">Thêm
                              vào danh sách yêu thích</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="related-products-grid product-grid">
                <div class="title"><strong>Những sản phẩm liên quan</strong></div>
                <div class="item-grid">
                  <div class="item-box">
                    <div class="product-item" data-productid="34">
                      <div class="picture"><a [routerLink]="['/night-visions']" title="Hiển thị chi tiết cho Night Visions"> <img
                            alt="Ảnh của Night Visions"
                            src="https://localhost:44369/images/thumbs/0000065_night-visions_415.jpeg"
                            title="Hiển thị chi tiết cho Night Visions"> </a></div>
                      <div class="details">
                        <h2 class="product-title"><a [routerLink]="['/night-visions']">Night Visions</a></h2>
                        <div class="product-rating-box" title="0 bài đánh giá">
                          <div class="rating">
                            <div style="width:0%"></div>
                          </div>
                        </div>
                        <div class="description" data-short-description="none">Night Visions is the debut studio album
                          by American rock band Imagine Dragons.</div>
                        <div class="add-info">
                          <div class="prices"><span class="price actual-price">3 ₫</span></div>
                          <div class="buttons"><button type="button" class="button-2 product-box-add-to-cart-button">Thêm
                              vào giỏ hàng</button> <button type="button" class="button-2 add-to-compare-list-button"
                              title="Thêm vào danh sách so sánh">Thêm
                              vào danh sách so sánh</button> <button type="button"
                              class="button-2 add-to-wishlist-button" title="Thêm vào danh sách yêu thích">Thêm
                              vào danh sách yêu thích</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="item-box">
                    <div class="product-item" data-productid="36">
                      <div class="picture"><a [routerLink]="['/science-faith']" title="Hiển thị chi tiết cho Science &amp; Faith">
                          <img alt="Ảnh của Science &amp; Faith"
                            src="https://localhost:44369/images/thumbs/0000067_science-faith_415.jpeg"
                            title="Hiển thị chi tiết cho Science &amp; Faith"> </a></div>
                      <div class="details">
                        <h2 class="product-title"><a [routerLink]="['/science-faith']">Science &amp; Faith</a></h2>
                        <div class="product-rating-box" title="1 bài đánh giá">
                          <div class="rating">
                            <div style="width:80%"></div>
                          </div>
                        </div>
                        <div class="description" data-short-description="none">Science &amp; Faith is the second studio
                          album by Irish pop rock band The Script.</div>
                        <div class="add-info">
                          <div class="prices"><span class="price actual-price"></span></div>
                          <div class="buttons"><button type="button" class="button-2 product-box-add-to-cart-button">Thêm
                              vào giỏ hàng</button> <button type="button" class="button-2 add-to-compare-list-button"
                              title="Thêm vào danh sách so sánh">Thêm
                              vào danh sách so sánh</button> <button type="button"
                              class="button-2 add-to-wishlist-button" title="Thêm vào danh sách yêu thích">Thêm
                              vào danh sách yêu thích</button></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><input name="__RequestVerificationToken" type="hidden"
              value="CfDJ8C8ssJ4Z8dxIhKtqL7EQqHHAFa7d4jubairjdtOlMzBULY0jL55HiQWt4PbC14yNXXJJQFKuYUrogmuC_EeErrQFHC6QimGmE4mGrLlTV4-G9-wGCXFw_nm8mbc8drZoige106ziexgd0L1szXl6r8g">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
