<div class="footer">
  <div class="footer-upper">
    <div class="footer-block information">
      <div class="title"><strong>Thông tin</strong></div>
      <ul class="list">
        <li><a href="/sitemap">Sơ đồ trang web</a></li>
        <li><a href="/shipping-returns">Shipping &amp; returns</a></li>
        <li><a href="/privacy-notice">Privacy notice</a></li>
        <li><a href="/conditions-of-use">Conditions of Use</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/contactus">Liên hệ chúng tôi</a></li>
      </ul>
    </div>
    <div class="footer-block customer-service">
      <div class="title"><strong>Dịch vụ khách hàng</strong></div>
      <ul class="list">
        <li><a href="/search">Tìm kiếm</a></li>
        <li><a href="/news">Tin tức</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/recentlyviewedproducts">Sản phẩm đã xem gần đây</a></li>
        <li><a href="/compareproducts">So sánh danh sách sản phẩm</a></li>
        <li><a href="/newproducts">Sản phẩm mới</a></li>
      </ul>
    </div>
    <div class="footer-block my-account">
      <div class="title"><strong>Tài khoản của tôi</strong></div>
      <ul class="list">
        <li><a href="/customer/info">Tài khoản của tôi</a></li>
        <li><a href="/order/history">Đơn đặt hàng</a></li>
        <li><a href="/customer/addresses">Địa chỉ</a></li>
        <li><a href="/cart">Giỏ hàng</a></li>
        <li><a href="/wishlist">Danh sách yêu thích</a></li>
        <li><a href="/vendor/apply">Áp dụng cho tài khoản nhà cung cấp</a></li>
      </ul>
    </div>
    <div class="footer-block follow-us">
      <div class="social">
        <div class="title"><strong>Theo chúng tôi</strong></div>
        <ul class="networks">
          <li class="facebook"><a href="https://www.facebook.com/nopCommerce" target="_blank"
              rel="noopener noreferrer">Facebook</a></li>
          <li class="twitter"><a href="https://twitter.com/nopCommerce" target="_blank"
              rel="noopener noreferrer">Twitter</a></li>
          <li class="rss"><a href="/news/rss/2">RSS</a></li>
          <li class="youtube"><a href="https://www.youtube.com/user/nopCommerce" target="_blank"
              rel="noopener noreferrer">YouTube</a></li>
          <li class="instagram"><a href="https://www.instagram.com/nopcommerce_official" target="_blank"
              rel="noopener noreferrer">Instagram</a></li>
        </ul>
      </div>
      <div class="newsletter">
        <div class="title"><strong>Bản tin</strong></div>
        <div class="newsletter-subscribe" id="newsletter-subscribe-block">
          <div class="newsletter-email"><input id="newsletter-email" class="newsletter-subscribe-text"
              placeholder="Ghi địa chỉ email của bạn ở đây..." aria-label="Đăng ký nhận bản tin của chúng tôi"
              type="email" name="NewsletterEmail"> <button type="button" id="newsletter-subscribe-button"
              class="button-1 newsletter-subscribe-button">Theo dõi</button></div>
          <div class="newsletter-validation"><span id="subscribe-loading-progress" style="display:none"
              class="please-wait">Chờ đợi...</span> <span class="field-validation-valid"
              data-valmsg-for="NewsletterEmail" data-valmsg-replace="true"></span></div>
        </div>
        <div class="newsletter-result" id="newsletter-result-block"></div>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <div class="footer-info"><span class="footer-disclaimer">Bản quyền &amp; copy; 2024 Your store name. Đã đăng ký Bản quyền.</span></div>
    <div class="footer-powered-by">Powered by <a href="https://www.nopcommerce.com/" target="_blank">nopCommerce</a>
    </div>
  </div>
</div>
