/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --mau1: #00A9FF;
  --mau2: #30b7fa;
  --mau3: #65d6f8;
  --mau4: #90e8fa;
  --mau5: #89CFF3;
  --mau6: #c2f1ff;
  --mau7: #daf7fd;
}

// @import 'primeflex/themes/primeone-dark.scss';
body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  padding: 1rem;
  margin: 0;
  min-height: 100vh;
  background: var(--mau6);
}

.mau1 {
  background-color: var(--mau1)!important;
}

.mau2 {
  background-color: var(--mau2)!important;
}

.mau3 {
  background-color: var(--mau3)!important;
}

.mau4 {
  background-color: var(--mau4)!important;
}

.mau5 {
  background-color: var(--mau5)!important;
}
.mau6 {
  background-color: var(--mau6)!important;
}

.mau7 {
  background-color: var(--mau7)!important;
}

.w-50rem {
  width: 45rem;
}

.family-orbitron {
  font-family: Orbitron;
}

.h-great {
  height: calc(100vh - 20px);
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

.h-1 {
  height: 8.3333%;
}
.h-2 {
  height: 16.6667%;
}
.h-3 {
  height: 25%;
}
.h-4 {
  height: 33.3333%;
}
.h-5 {
  height: 41.6667%;
}
.h-6 {
  height: 50%;
}
.h-7 {
  height: 58.3333%;
}
.h-8 {
  height: 66.6667%;
}
.h-9 {
  height: 75%;
}
.h-10 {
  height: 83.3333%;
}
.h-11 {
  height: 91.6667%;
}
.h-12 {
  height: 100%;
}



.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
