<div class="master-wrapper-content">
  <div class="master-column-wrapper">
    <div class="center-1">
      <div class="page home-page">
        <div class="page-body">
          <div class="slider-wrapper theme-custom mb-5">
            <div class="nivo-slice">
              <img
                src="https://localhost:44369/images/thumbs/0000077_banner_1.webp"
                alt="" class="w-100">
            </div>
          </div>
          <div class="topic-block">
            <div class="topic-block-title">
              <h2>Welcome to our store</h2>
            </div>
            <div class="topic-block-body">
              <p>Online shopping is the process consumers go through to purchase products or services over the Internet.
                You can edit this in the admin site.</p>
              <p>If you have questions, see the <a href="http://docs.nopcommerce.com/">Documentation</a>, or post in the
                <a href="https://www.nopcommerce.com/boards/">Forums</a> at <a
                  href="https://www.nopcommerce.com">nopCommerce.com</a>
              </p>
            </div>
          </div>
          <div class="category-grid home-page-category-grid">
            <div class="item-grid">
              <div class="item-box">
                <div class="category-item">
                  <h2 class="title"><a href="/electronics" title="Hiển thị sản phẩm trong danh mục Electronics">
                      Electronics </a></h2>
                  <div class="picture"><a href="/electronics" title="Hiển thị sản phẩm trong danh mục Electronics"> <img
                        alt="Hình ảnh cho danh mục Electronics"
                        src="https://localhost:44369/images/thumbs/0000005_electronics_450.jpeg"
                        title="Hiển thị sản phẩm trong danh mục Electronics"> </a></div>
                </div>
              </div>
              <div class="item-box">
                <div class="category-item">
                  <h2 class="title"><a href="/apparel" title="Hiển thị sản phẩm trong danh mục Apparel"> Apparel </a>
                  </h2>
                  <div class="picture"><a href="/apparel" title="Hiển thị sản phẩm trong danh mục Apparel"> <img
                        alt="Hình ảnh cho danh mục Apparel"
                        src="https://localhost:44369/images/thumbs/0000009_apparel_450.jpeg"
                        title="Hiển thị sản phẩm trong danh mục Apparel"> </a></div>
                </div>
              </div>
              <div class="item-box">
                <div class="category-item">
                  <h2 class="title"><a href="/digital-downloads"
                      title="Hiển thị sản phẩm trong danh mục Digital downloads"> Digital downloads </a></h2>
                  <div class="picture"><a href="/digital-downloads"
                      title="Hiển thị sản phẩm trong danh mục Digital downloads"> <img
                        alt="Hình ảnh cho danh mục Digital downloads"
                        src="https://localhost:44369/images/thumbs/0000013_digital-downloads_450.jpeg"
                        title="Hiển thị sản phẩm trong danh mục Digital downloads"> </a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="product-grid home-page-product-grid">
            <div class="title"><strong>Sản phẩm nổi bật</strong></div>
            <div class="item-grid">
              <div class="item-box">
                <div class="product-item" data-productid="1">
                  <div class="picture"><a href="/build-your-own-computer"
                      title="Hiển thị chi tiết cho Build your own computer"> <img alt="Ảnh của Build your own computer"
                        src="https://localhost:44369/images/thumbs/0000020_build-your-own-computer_415.jpeg"
                        title="Hiển thị chi tiết cho Build your own computer"> </a></div>
                  <div class="details">
                    <h2 class="product-title"><a href="/build-your-own-computer">Build your own computer</a></h2>
                    <div class="product-rating-box" title="1 bài đánh giá">
                      <div class="rating">
                        <div style="width:80%"></div>
                      </div>
                    </div>
                    <div class="description" data-short-description="none">Build it</div>
                    <div class="add-info">
                      <div class="prices"><span class="price actual-price">1.200 ₫</span></div>
                      <div class="buttons"><button type="button" class="button-2 product-box-add-to-cart-button">Thêm
                          vào giỏ hàng</button> <button type="button" class="button-2 add-to-compare-list-button"
                          title="Thêm vào danh sách so sánh">Thêm
                          vào danh sách so sánh</button> <button type="button" class="button-2 add-to-wishlist-button"
                          title="Thêm vào danh sách yêu thích">Thêm vào danh sách yêu thích</button></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-box">
                <div class="product-item" data-productid="4">
                  <div class="picture"><a href="/apple-macbook-pro-13-inch"
                      title="Hiển thị chi tiết cho Apple MacBook Pro 13-inch"> <img
                        alt="Ảnh của Apple MacBook Pro 13-inch"
                        src="https://localhost:44369/images/thumbs/0000024_apple-macbook-pro-13-inch_415.jpeg"
                        title="Hiển thị chi tiết cho Apple MacBook Pro 13-inch"> </a></div>
                  <div class="details">
                    <h2 class="product-title"><a href="/apple-macbook-pro-13-inch">Apple MacBook Pro 13-inch</a></h2>
                    <div class="product-rating-box" title="0 bài đánh giá">
                      <div class="rating">
                        <div style="width:0%"></div>
                      </div>
                    </div>
                    <div class="description" data-short-description="none">A groundbreaking Retina display. A new
                      force-sensing trackpad. All-flash architecture. Powerful dual-core and quad-core Intel processors.
                      Together, these features take the notebook to a new level of performance. And they will do the
                      same for you in everything you create.</div>
                    <div class="add-info">
                      <div class="prices"><span class="price actual-price">1.800 ₫</span></div>
                      <div class="buttons">
                        <button type="button" class="button-2 product-box-add-to-cart-button">
                          Thêm vào giỏ hàng
                        </button>
                        <button type="button" class="button-2 add-to-compare-list-button"
                          title="Thêm vào danh sách so sánh">
                          Thêm vào danh sách so sánh
                        </button>
                        <button type="button" class="button-2 add-to-wishlist-button"
                          title="Thêm vào danh sách yêu thích">
                          Thêm vào danh sách yêu thích
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-box">
                <div class="product-item" data-productid="18">
                  <div class="picture"><a href="/htc-one-m8-android-l-50-lollipop"
                      title="Hiển thị chi tiết cho HTC One M8 Android L 5.0 Lollipop"> <img
                        alt="Ảnh của HTC One M8 Android L 5.0 Lollipop"
                        src="https://localhost:44369/images/thumbs/0000041_htc-one-m8-android-l-50-lollipop_415.jpeg"
                        title="Hiển thị chi tiết cho HTC One M8 Android L 5.0 Lollipop"> </a></div>
                  <div class="details">
                    <h2 class="product-title"><a href="/htc-one-m8-android-l-50-lollipop">HTC One M8 Android L 5.0
                        Lollipop</a></h2>
                    <div class="product-rating-box" title="1 bài đánh giá">
                      <div class="rating">
                        <div style="width:100%"></div>
                      </div>
                    </div>
                    <div class="description" data-short-description="none">
                      HTC - One (M8) 4G LTE Cell Phone with 32GB Memory - Gunmetal (Sprint)</div>
                    <div class="add-info">
                      <div class="prices"><span class="price actual-price">245 ₫</span></div>
                      <div class="buttons">
                        <button type="button" class="button-2 product-box-add-to-cart-button">Thêm vào giỏ hàng</button>
                        <button type="button" class="button-2 add-to-compare-list-button" title="Thêm vào danh sách so sánh"></button>
                        <button type="button" class="button-2 add-to-wishlist-button"
                          title="Thêm vào danh sách yêu thích">Thêm
                          vào danh sách yêu thích</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item-box">
                <div class="product-item" data-productid="43">
                  <div class="picture"><a href="/25-virtual-gift-card"
                      title="Hiển thị chi tiết cho $25 Virtual Gift Card"> <img alt="Ảnh của $25 Virtual Gift Card"
                        src="https://localhost:44369/images/thumbs/0000074_25-virtual-gift-card_415.jpeg"
                        title="Hiển thị chi tiết cho $25 Virtual Gift Card"> </a></div>
                  <div class="details">
                    <h2 class="product-title"><a href="/25-virtual-gift-card">$25 Virtual Gift Card</a></h2>
                    <div class="product-rating-box" title="0 bài đánh giá">
                      <div class="rating">
                        <div style="width:0%"></div>
                      </div>
                    </div>
                    <div class="description" data-short-description="none">$25 Gift Card. Gift Cards must be redeemed
                      through our site Web site toward the purchase of eligible products.</div>
                    <div class="add-info">
                      <div class="prices"><span class="price actual-price">25 ₫</span></div>
                      <div class="buttons">
                        <button type="button" class="button-2 product-box-add-to-cart-button">
                          Thêm vào giỏ hàng
                        </button>
                        <button type="button" class="button-2 add-to-compare-list-button"
                          title="Thêm vào danh sách so sánh">
                          Thêm vào danh sách so sánh
                        </button>
                        <button type="button" class="button-2 add-to-wishlist-button"
                          title="Thêm vào danh sách yêu thích">
                          Thêm vào danh sách yêu thích
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
