<div class="w-full h-full text-center px-6 py-6 flex flex-column justify-content-between">
  <div class="h-10rem"></div>
  <div class="flex flex-column align-items-center gap-4">
    <div class="mb-3">
      <h2>Đăng ký</h2>
    </div>
    <!-- infor 1  -->
    <span class="p-input-icon-left w-full md:w-25rem">
      <i class="pi pi-user"></i>
      <input type="text" pInputText placeholder="Tên đăng nhập" class="w-full">
    </span>
    <!-- infor 2  -->
    <span class="p-input-icon-left w-full md:w-25rem">
      <i class="pi pi-envelope"></i>
      <input type="email" pInputText placeholder="Email" class="w-full ">
    </span>
    <!-- infor 3  -->
    <span class="p-input-icon-left w-full md:w-25rem">
      <i class="pi pi-lock z-2"></i>
      <p-password styleClass="p-input-icon-left w-full" inputStyleClass="w-full" placeholder="Mật khẩu"
        [(ngModel)]="password" [toggleMask]="true" />
    </span>
    <!-- infor 4  -->
    <span class="p-input-icon-left w-full md:w-25rem">
      <i class="pi pi-lock z-2"></i>
      <p-password styleClass="p-input-icon-left w-full" inputStyleClass="w-full" placeholder="Xác nhận mật khẩu"
        [(ngModel)]="passwordComfirm" [toggleMask]="true" />
    </span>
    <div class="w-full md:w-25rem flex justify-content-end">
      <p>Bạn đã có tài khoản?
        <a href="auth/login" class="text-primary hover:underline cursor-pointer font-medium">Đăng nhập </a>
        để bắt đầu cùng chúng tôi
      </p>
    </div>
    <p-button class="w-20rem" label="Đăng ký"></p-button>
  </div>
  <p class="text-color-secondary font-semibold">
    Nếu có vấn đề xảy ra,
    <a href="" class="text-primary hover:underline cursor-pointer font-medium">Click vào đây </a>
    để chúng tôi có thể giúp đỡ bạn
  </p>
</div>
