<!-- <div [ngClass]="containerClass" class="layout-navbar-fixed">
  <div class="wrapper">
    <nop-navbar></nop-navbar>
    <nop-sidebar></nop-sidebar> -->
    <!-- <div class="content-wrapper" style="min-height: 840px;">
      <router-outlet></router-outlet>
    </div> -->
    <!-- <div class="main-footer">
      <div class="container-fluid">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 col-xs-12 text-md-left text-center">Powered by <a
                href="https://www.nopcommerce.com/?utm_source=admin-panel&amp;utm_medium=footer&amp;utm_campaign=admin-panel"
                target="_blank">nopCommerce</a></div>
            <div class="col-md-4 col-xs-12 text-center">Thứ Sáu, 11 tháng 10, 2024 08:39</div>
            <div class="col-md-4 col-xs-12 text-md-right text-center"><b>nopCommerce version 4.60.6</b></div>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div id="sidebar-overlay"></div> -->
  <!-- </div>

</div> -->

<!-- <app-menu-sidebar
    *ngIf="appLoaded"
    class="sidebar-dark-primary"
></app-menu-sidebar>

<div *ngIf="appLoaded" class="content-wrapper">
    <router-outlet></router-outlet>
</div>

<app-footer *ngIf="appLoaded"></app-footer>
<app-control-sidebar *ngIf="appLoaded"></app-control-sidebar>
<div
    id="sidebar-overlay"
    *ngIf="appLoaded"
    (click)="onToggleMenuSidebar()"
></div>
<app-loading *ngIf="!appLoaded"></app-loading> -->

