<div class="w-full h-full text-center px-6 py-6 flex flex-column justify-content-between">
  <div class="h-10rem"></div>
  <div class="flex flex-column align-items-center gap-4">
    <div class="flex flex-column align-items-center gap-4">
      <div class="mb-3">
        <h2>Quên mật khẩu</h2>
        <p>Nhập địa chỉ emial của bạn để cấp lại mật khẩu</p>
      </div>
      <span class="p-input-icon-left w-full md:w-25rem">
        <i class="pi pi-envelope"></i>
        <input id="email" type="text" pInputText placeholder="Email" class=" w-full md:w-25rem">
      </span>
      <div class="flex gap-3 w-full md:w-25rem">
        <button pButton label="CANCEL" (click)="backToURL()" class="flex-auto p-button-outlined" tabindex="0">
          <span class="p-button-label">CANCEL</span>
        </button>
        <button pButton label="SUBMIT" class="flex-auto" (click)="routeSetPassword()" tabindex="0">
          <span class="p-button-label">SUBMIT</span>
        </button>
      </div>
    </div>
  </div>
  <p class="text-color-secondary font-semibold">
    Nếu có vấn đề xảy ra,
    <a href="" class="text-primary hover:underline cursor-pointer font-medium">Click vào đây </a>
    để chúng tôi có thể giúp đỡ bạn
  </p>
</div>
